.column-two {
	width: 50%;
	min-height: 500px;
}
.about-logo {
	background: center no-repeat;
	background-image: url(../img/img-studio-bg.png);
	.cover;
	.section-logo;
}
.about-description {
	padding: 100px 125px 0;
	.icon {
		width: 84px;
		height: 58px;
		margin: 0 auto 50px;
		background-image: url(../img/tattoo-design.png);
	}
	.text-top {
		text-align: center;
		font-size: 18px;
		margin-bottom: 30px;

	}
	.text-bottom {
		font-size: 16px;
	}
}

@media @tablets {
	.wrapper {
		flex-wrap: wrap;
		.column-two {
			width: 100%;
			min-height: 150px; 
			flex-wrap: wrap;
			h1{
				font-size: 15px;
				padding: 10px 30px;
	    		border: 5px solid #000000;
			}
		}
		.about-description{
			padding: 20px 20px;
			.icon {
				margin: 0 auto 15px;
			}
			.text-bottom {
				text-align: center;
			}
		}
	}
}

@media @mobile {
	.wrapper {
		.column-two {
			width: 100%;
			min-height: 100px; 
			flex-wrap: wrap;
			h1{
				font-size: 10px;
	    		padding: 5px 20px;
	    		border: 3px solid #000000;
			}
		}
		.about-description {
			.icon {
				width: 64px;
				height: 44px;
				margin: 0 auto 20px;
				background-image: url(../img/tatoo-desing-mini.png);
			}
			.text-top { 
				font-size: 12px;
    			margin-bottom: 15px;
    		}
			.text-bottom {
				font-size: 12px;
			}
		}
	}	
}