.citation-block{
	.citation-page;
	flex-wrap: wrap;
	background-image: url(../img/img-bg1.png);
	a{
		width: 43px;
		height: 35px;
		background-image: url(../img/twiter.png);
	}
	p{
		font-size: 22px;
		margin-top: -150px;
		width: 100%;
		text-align: center;
	}
}

@media screen and (max-width: 769px){
	.citation-block{
		height: 185px;
		a{
			margin-top: 20px;
		}
		p{
			font-size: 18px;
    		margin-top: -70px;
		}
	}
}