
.gallery{
	width: 100%;
	.our-works{
		display: flex;
		flex-wrap: wrap;
	}
	.works-item{
		width: 16.667%;
		position: relative;
		overflow: hidden;
		&:hover .hover-block{
			top: 0;
		}
	}
	img{
		width: 100%;
	}
	.hover-block {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding: 25px; 
		flex-wrap: wrap;
		height: 100%;
		width: 100%;
		// проблема с ховером
		position: absolute;
		top: -100%;
		left: 0;
		opacity: 0.8;
		background-color: fadeout(@colorBackground, 25%);
		transition: .5s;
		li{
			width: 30px;
			height: 30px;
			background: center no-repeat;
			cursor: pointer;
		}
		.icons-wrapper{
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
		.zoom{
			background-image: url(../img/zoom.png); 
		}
		.eiht{
			background-image: url(../img/link.png);	
		}
		.info{
			background-image: url(../img/in.png);
		}
		.like{
			background-image: url(../img/like.png);
		}
	}
}

@media screen and (max-width: 769px){
	.gallery{
		.works-item{
			width: 25%;
		}
	}
}
@media screen and (max-width: 320px) {
	.gallery{
		.works-item{
			width: 50%;
		}
		.hover-block {
			.zoom{
				background-image: url(../img/zoom-mini.png); 
			}
			.eiht{
				background-image: url(../img/link-mini.png);	
			}
			.info{
				background-image: url(../img/in-mini.png);
			}
			.like{
				background-image: url(../img/like-mini.png);
			}
		}
	}
}