
.gallery{
	width: 100%;
	.our-works{
		display: flex;
		flex-wrap: wrap;
	}
	.works-item{
		width: 16.667%;
		// height: 16.667%;
		// изменил на % 
		position: relative;
		overflow: hidden;
		// &:before{
		// 	content: "";
		// 	display: block;
		// 	padding-top: 100%;
		// }
		&:hover .hover-block{
			top: 0;
		}
	}
	img{
		width: 100%;
		// height: 250px;
	}
	.hover-block {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding: 25px; 
		flex-wrap: wrap;
		height: 100%;
		width: 100%;
		// проблема с ховером
		position: absolute;
		top: -100%;
		left: 0;
		opacity: 0.8;
		background-color: fadeout(@colorBackground, 25%);
		transition: .5s;
		// &:before{
		// 	content: "";
		// 	display: block;
		// 	padding-top: 100%;
		// }
		li{
			width: 30px;
			height: 30px;
			background: center no-repeat;
			cursor: pointer;
		}
		.icons-wrapper{
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
		.zoom{
			background-image: url(../img/zoom.png); 
		}
		.eiht{
			background-image: url(../img/link.png);	
		}
		.info{
			background-image: url(../img/in.png);
		}
		.like{
			background-image: url(../img/like.png);
		}
	}
}

@media screen and (max-width: 769px){
	.gallery{
		.works-item{
			width: 25%;
		}
	}
}